body{
	background-color: lightblue;
	background-image: url(https://i.pinimg.com/originals/f8/b7/ff/f8b7ffe6be7738764e7a214d5a5006ff.gif);
	background-size: 200px;
	background-repeat: no-repeat;
	background-position: 90% 90%;
	background-attachment: scroll;
}
p{
	font-size: 0.9in;
	color: yellow;
	background-image: url(https://i.pinimg.com/1200x/14/32/ca/1432cab1a46759dca179833c0ab7cd99.jpg);
	background-size: cover;
	text-align: center;
}
#d1{
	width: 500px;
	height: 500px;
	background-image: url(https://i.pinimg.com/736x/a6/ca/84/a6ca84452f59c8a650573c9da99c72ba.jpg);
	background-size: cover;
	border: 30px ridge rgb(245, 255, 192);
}
#d2{
	width: 400px;
	height: 400px;
	border: 30px solid;
	margin: 50px;
	border-image: linear-gradient(yellow,blue) 30;
}
#img1{
	width: 800px;
	border: 30px double rgb(182, 223, 255);
	margin-bottom: 50px;
}
#img2{
	width: 50%;
	display: block;
	margin: auto;
	border-radius: 50%;
	box-shadow: 10px -10px 50px rgb(105, 255, 118);
}