body{
	background-color: rgb(135, 250, 152);
}
p{
	font-size: 48px;
	color: rgb(58, 0, 128);
}
.p1{
	color: fuchsia;
	background-color: purple;
}
.p2{
	font-family: sans-serif;
}
.p3{
	font-family: Georgia, Times, "Times New Roman",  serif;
}
.p4{
	 font-family: "Lucida Console", Courier, monospace;
}
.p5{
	font-family: cursive;
}
.p6{
	font-family: fantasy;
}
.p7{
	font-family: "Rubik Glitch", system-ui;
	text-shadow: 2px 2px rgb(152, 238, 130);
}
.p8{
font-family: "Rubik Moonrocks", sans-serif;
text-shadow: 2px -2px rgb(255, 0, 0);
}
.p9{
	font-family: "Rubik Glitch Pop", system-ui;
	text-shadow: 2px -2px rgb(0, 42, 255), 4px -4px rgb(0, 255, 0);
}
.p10{
	font-family: "Rubik Bubbles", system-ui;
	text-shadow: 2px -2px 10px rgb(93, 0, 255);
}
.p11{
	font-family: "Lobster", sans-serif;
	text-shadow: 0 0 15px rgb(0, 96, 128);
}
.p12{
	font-weight: 700;
}
.p13{
	font-style: italic;
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-style: wavy;
	text-decoration-color: rgb(221, 255, 0);
}
.p14{
	text-decoration: underline;
	text-underline-position: under;
	text-decoration-style: dashed;
	text-decoration-color: rgb(0, 128, 58);
}
.s1{
	font-size: 2em;
	color: rgb(226, 208, 43);
	font-family: "Rubik Moonrocks", sans-serif;
	text-shadow: 0 0 5px rgb(204, 0, 255);
}